# Local .terraform directories
**/.terraform/*
datatrek/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraformrc
terraform.rc


.DS_Store